<h1>Listing related Products</h1>

<table>
  <thead>

  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr id="product_<%=product.id%>">
      <td><%= product.name %></td>
      <td><%= link_to 'Show', category_product_path(@category,product) %></td>
      <td><%= link_to 'Edit', edit_category_product_path(@category,product) %></td>
      <td><%= link_to 'Destroy', category_product_path(@category,product), method: :delete,remote: true, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add new Product', new_category_product_path %>





